body {
    margin: 0;
    background: #1F2937;
}
#hero{
    margin: 100px 100px 40px 100px;
}
h1{
    color:white;
    margin-bottom: -5px;
    font-size: 35px;
}
span{
    color: #4ADF86;
}
p{
    color: #D5D4D8;
    margin-bottom: 40px;
}
button{
    color: white;
    background: #10B981;
    border: none;
    padding: 10px 12px;
    border-radius: 6px;
}
hr{
    margin-left: 100px;
    margin-right: 100px;
    color: #2F3E53;
}
#spaces{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
}
.space{
    display: flex;
    flex-direction: column;
    background:#273549;
    width:211px;
    height: 39px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    color:#55F991;
    text-align: center;
    justify-content: center;
}